.future {
    display: flex;
    gap: 2rem;
}

.future .future-heading {
    flex: 2
}

.future .future-points {
    flex: 3;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;

}

.future .future-heading h1 {
    font-size: 34px;
    font-weight: 800;
    line-height: 45px;
    /* 132.353% */
    margin-bottom: 2rem;
}

.future .future-heading p {
    color: var(--color-subtext);
    font-weight: 500;
    line-height: 30px;
}

.future .future-points .what-gpt3-container {
    align-items: flex-start;
    column-gap: 2rem;
}

.future .future-points .what-gpt3-container .what-gpt3-heading {
    flex: 1;
}

.future .future-points .what-gpt3-container .what-gpt3-content {
    flex: 2.5;
    color: var(--color-text);
}

@media screen and (max-width:1000px) {
    .future {
        flex-direction: column;
        row-gap: 4rem;
    }
}


@media screen and (max-width:550px) {

    .future .future-heading h1 {
        font-size: 28px;
        font-weight: 600;
        line-height: 36px;
    }

    .future .future-points .what-gpt3-container .what-gpt3-heading p {
        font-size: 14px;
    }

    .future .future-points .what-gpt3-container .what-gpt3-content p {
        font-size: 12px;
    }
}